<!DOCTYPE html>
<html ng-app="testmanifest" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Test Manifest</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/node-uuid/uuid.js" type="text/javascript"></script>
  </head>
  <body id="home" ng-controller="EditCtrl">
    <div id="sidebar">
        <button ng-click="install()" id="install">Install!</button>
        <hr>
        <p>If you update the manifest, it will also be available at any of the following subdomains:</p>
        <ul id="domainlist">
            <li>{{getSubURL('-new')}}</li>
            <li>{{getSubURL('-1')}}</li>
            <li>{{getSubURL('-2')}}</li>
            <li>{{getSubURL('-3')}}</li>
            <li>{{getSubURL('-&lt;anything&gt;')}}</li>
        </ul>
        <p>Subdomains are namespaced. Using a dash will allow you to serve manifests from different URLs while maintaining the manifest of the namespace.</p>

    </div>

    <form method="POST" class="is_unlocked" action="/">
        <input type="text" ng-model="manifestLocation" id="thingy">
        <br>
        <br>

        <button type='submit'>Save</button>
        <p class="locked">This manifest can't be saved because it is locked by someone other than you.</p>
        <br>
        <textarea id="manifest" ng-model="manifest" name='manifest'></textarea>
        <br>
        <button type='submit'>Save</button>
        <p class="locked">This manifest can't be saved because it is locked by someone other than you.</p>
    </form>
    <script src="js/app.js"></script>
  </body>
</html>
